[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "XBSeq"]
	path = XBSeq
	url = https://github.com/liuy12/xbseq
	shallow = true
	registered = true
